/* Sidebar.css */

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: white;
  padding: 25px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
}

.sidebar-title {
  font-size: 28px;
  color: #5b21b6;
  margin-bottom: 30px;
}

.filter-box {
  margin-bottom: 35px;
}

.filter-box h3 {
  margin-bottom: 15px;
  color: #222;
  font-size: 20px;
}

.filter-box label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.filter-box input {
  margin-right: 10px;
}

.apply-btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #22c1c3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.apply-btn:hover {
  background-color: #18a4a6;
}

/* MOBILE VIEW */

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-height: auto;
    margin-bottom: 20px;
  }
}
