/* .heading {
  color: lightcoral;
} */

body {
  background-color: rgb(245, 237, 237);
  margin: 0;
  overflow-x: hidden;
}

.hoc {
  background-color: blue;
  height: 300px;
}

.hoc-user {
  background-color: gold;
}

.hoc-logo {
  height: 50px;
  width: 50px;
}
